*{
    font-family: Roboto,sans-serif;
    
    
}

h1,h2,h3,h4,h5,h6{
    font-family: comfortaa
}

#noxscroll{
    overflow-x:hidden
}

#test{
    background: #D5AF63;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }